@model FinancialPortal.Web.Models.Transaction

@{
    ViewBag.Title = "Details";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Transaction Details</h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="h5 col-sm-6 detail-label">
                @Html.DisplayName("Bank Account")
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.BankAccount.Name)
            </div>
        </div>

        <div class="row">
            <div class="h5 col-sm-6 detail-label">
                @Html.DisplayName("Budget Item")
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.BudgetItem.Name)
            </div>
        </div>

        <div class="row">
            <div class="h5 col-sm-6 detail-label">
                @Html.DisplayName("Transaction Type")
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.TransactionType.Type)
            </div>
        </div>

        <div class="row">
            <div class="h5 col-sm-6 detail-label">
                @Html.DisplayName("Amount")
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.Amount)
            </div>
        </div>

        <div class="row">
            <div class="h5 col-sm-6 detail-label">
                @Html.DisplayName("Created By")
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.CreatedBy.DisplayName)
            </div>
        </div>

        <div class="row">
            <div class="h5 col-sm-6 detail-label">
                @Html.DisplayName("Transaction Date & Time")
            </div>
            <div class="col-sm-6">
                @Html.DisplayFor(model => model.TransactionDateTime)
            </div>
        </div>

        <br />
        <p>
            @Html.ActionLink("Back to Dashboard", "Dashboard", "Home") |
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "confirmDelete" })

        </p>
    </div> <!-- end card-body -->
</div>

@section scripts
{
    <script>

        $(document).ready(function () {
            console.log("READY!");

            var defaultDeleteText = "Delete";
            $(".confirmDelete").click(function (e) {
                var actionVal = $(this).text();
                if (actionVal.toUpperCase() === defaultDeleteText.toUpperCase()) {
                    e.preventDefault();
                    $(this).text("Confirm Delete?");
                }
            });
            $(".confirmDelete").blur(function () {
                $(this).text(defaultDeleteText);
            });
        });
    </script>
}
