@using PagedList.Mvc
@model PagedList.IPagedList<IrasBlog.Models.BlogPost>

<!-- Page Header -->
<header class="masthead" style="background-image: url('/Images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Ira Nye Reflections</h1>
                    <span class="subheading">My Full-Stack Code Camp Immersion Notes</span>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    #searchStr {
        border-radius: 5px;
    }
</style>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @using (Html.BeginForm("Index", "Home", FormMethod.Get, htmlAttributes: new {@class = "form"}))
            {
                <div class="form-group">
                    <input id="searchStr" name="searchStr" class="input-block-level" type="text" placeholder="Search" autocomplete="off"/>
                    <button class="btn btn-default" type="submit" style="margin-top: -5px; padding: 0px;">
                        <img src='/Images/gakuseisean-radium-search.ico' height="32" width="32" />
                    </button>
                </div>
            }
            @foreach (var blogPost in Model)
            {
                <div class="post-preview">
                    <a href="@Url.Action("Details", "BlogPosts", new {slug = blogPost.Slug})">
                        <h2 class="post-title">
                            @blogPost.Title
                        </h2>
                    </a>
                    <h3 class="post-subtitle">
                        @blogPost.Abstract
                    </h3>

                    <p class="post-meta">
                        Posted by
                        @Html.ActionLink("Ira Nye", "About", "Home")
                        on @blogPost.Created.ToString("MMM dd, yyyy")
                    </p>
                </div>
                <hr>

            }

            <!-- Pager -->
            <div class="clearfix">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new {page}))
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        $(document).ready(function () {
            "use strict";
            const message = 'hello world';
            console.log(message);
        });
    </script>
}
