@model BugTracker.Models.Project

@{
    ViewBag.Title = "Details";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Project Details - @Model.Name</h6>
    </div>
    <div class="card-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

            </dl>
        </div>

        <p>
            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("DemoAdmin") || User.IsInRole("DemoProjectManager"))
            {
                <span>@Html.ActionLink("Edit", "Edit", new { id = Model.Id })&nbsp;|</span>
                <span>@Html.ActionLink("Add/Remove Members", "ManageMembers", new { id = Model.Id })&nbsp;|</span>
            }
            @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || User.IsInRole("DemoAdmin") || User.IsInRole("DemoProjectManager"))
            {
                <span>@Html.ActionLink("All Projects", "Index")&nbsp;|</span>
            }
            @Html.ActionLink("My Projects", "AssignedIndex")
        </p>

    </div> <!-- end card-body -->
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@Model.Name - Tickets</ h6 >
</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Id")
                        </th>
                        <th>
                            @Html.DisplayName("Title")
                        </th>
                        <th>
                            @Html.DisplayName("TicketType")
                        </th>
                        <th>
                            @Html.DisplayName("Assignee")
                        </th>
                        <th>
                            @Html.DisplayName("Owner")
                        </th>
                        <th>
                            @Html.DisplayName("Ticket Priority")
                        </th>
                        <th>
                            @Html.DisplayName("Ticket Status")
                        </th>
                        <th>
                            @Html.DisplayName("Ticket Creation Date")
                        </th>
                        <th>
                            @Html.DisplayName("Ticket Update Date")
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Tickets.OrderByDescending(t => t.Updated).ThenByDescending(t => t.Created))
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.DisplayableId, "Dashboard", "Tickets", new { id = item.Id }, null)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketType.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssignedTo.DisplayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Owner.DisplayName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketPriority.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TicketStatus.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Updated)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> <!-- end table div -->
    </div> <!-- end card-body -->
</div>

