@model FinancialPortal.Web.ViewModels.MainDashboardViewModel

@{
    ViewBag.Title = "Home Dashboard";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard - @Model.HouseholdName</h1>
    @*<a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>*@
</div>

<!-- Content Row -->
<div class="row">

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Monthly Budget</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalMonthlyBudget</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Budgets</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalBudgets</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-book-open fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Budget Items</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalBudgetItems</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-chart-line fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Bank Accounts</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalBankAccounts</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-piggy-bank fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Transactions</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalTransactions</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Invitations</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.TotalInvitations</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-sticky-note fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-xl-8 col-lg-7">

        <!-- Transactions Bar Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Total Transaction Amounts</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="barChartTransactions"></canvas>
                </div>
            </div>
            <div>
                <button id="getBarChartDataTransactions" title="Reload Transactions Data">Reload</button>
            </div>
        </div>

    </div>

    <div class="col-xl-8 col-lg-7">

        <!-- Transactions Bar Chart -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Transaction vs Budget Amounts</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="barChartHousehold"></canvas>
                </div>
            </div>
            <div>
                <button id="getBarChartDataHousehold" title="Reload Transactions & Budget Data">Reload</button>
            </div>
        </div>

    </div>
</div>

<script src="~/Scripts/Chart.js"></script>

@section scripts
{
    <script>
        $(document).ready(function () {
            console.log("READY!");
            
            buildAllCharts();
            
            // Chart All Transactions vs All Budgets for each Month
            function buildAllCharts() {
                buildTransactionsChart();
                buildHouseholdChart();
            }
            
            // Transactions Only Chart
            $("#getBarChartDataTransactions").click(function() {
                console.log("Getting BarChartData for Transactions Only!");
                buildTransactionsChart();
            });
            
            // Chart All Transactions vs All Budgets for each Month
            function buildTransactionsChart() {
                ajaxForbarChartTransactions('@Url.Action("BarChartDataForTransactions", "Charts")');
            }
            
            function ajaxForbarChartTransactions(dataUrl) {
                $.ajax({
                    url: dataUrl,
                    type: "post",
                    dataType: "json",
                    success: function (response) {
                        fillbarChartTransactions(response);
                    }
                });
            }

            // Household Chart
            $("#getBarChartDataHousehold").click(function() {
                console.log("Getting BarChartData for Household!");
                buildHouseholdChart();
            });

            // Chart All Transactions vs All Budgets for each Month
            function buildHouseholdChart() {
                ajaxForbarChartHousehold('@Url.Action("BarChartDataForHousehold", "Charts")');
            }
            
            function ajaxForbarChartHousehold(dataUrl) {
                $.ajax({
                    url: dataUrl,
                    type: "post",
                    dataType: "json",
                    success: function (response) {
                        fillbarChartHousehold(response);
                    }
                });
            }

            function fillbarChartTransactions(data) {
                var ctx = document.getElementById("barChartTransactions");
                if (ctx === null) {
                    console.log("id to canvas element is NULL");
                    return;
                }
                var barChartTransactions = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                                label: "Total Spent",
                                backgroundColor: "#4e73df",
                                hoverBackgroundColor: "#2e59d9",
                                borderColor: "#4e73df",
                                data: data.values
                            }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        layout: {
                            padding: {
                                left: 10,
                                right: 25,
                                top: 25,
                                bottom: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                time: {
                                    unit: 'month'
                                },
                                gridLines: {
                                    display: false,
                                    drawBorder: false
                                },
                                ticks: {
                                    maxTicksLimit: 6
                                },
                                maxBarThickness: 25,
                            }],
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    max: 2000,
                                    maxTicksLimit: 5,
                                    padding: 10,
                                    // Include a dollar sign in the ticks
                                    callback: function(value, index, values) {
                                        return '$' + number_format(value);
                                    }
                                },
                                gridLines: {
                                    color: "rgb(234, 236, 244)",
                                    zeroLineColor: "rgb(234, 236, 244)",
                                    drawBorder: false,
                                    borderDash: [2],
                                    zeroLineBorderDash: [2]
                                }
                            }],
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            titleMarginBottom: 10,
                            titleFontColor: '#6e707e',
                            titleFontSize: 14,
                            backgroundColor: "rgb(255,255,255)",
                            bodyFontColor: "#858796",
                            borderColor: '#dddfeb',
                            borderWidth: 1,
                            xPadding: 15,
                            yPadding: 15,
                            displayColors: false,
                            caretPadding: 10,
                            callbacks: {
                                label: function(tooltipItem, chart) {
                                    var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                    return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                                }
                            }
                        },
                    }
                });
            }
            
            function fillbarChartHousehold(data) {
                var ctx = document.getElementById("barChartHousehold");
                if (ctx === null) {
                    console.log("id to canvas element is NULL");
                    return;
                }
                var barChartHousehold = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                                label: "Total Spent",
                                backgroundColor: "#df734e",
                                hoverBackgroundColor: "#2e59d9",
                                borderColor: "#df73df4e",
                                data: data.transactionvalues
                            },
                            {
                                label: "Total Budget",
                                backgroundColor: "#dfa38e",
                                hoverBackgroundColor: "#2e99d9",
                                borderColor: "#dfa38e",
                                data: data.budgetvalues
                            }
                            ],
                    },
                    options: {
                        maintainAspectRatio: false,
                        layout: {
                            padding: {
                                left: 10,
                                right: 25,
                                top: 25,
                                bottom: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                time: {
                                    unit: 'month'
                                },
                                gridLines: {
                                    display: false,
                                    drawBorder: false
                                },
                                ticks: {
                                    maxTicksLimit: 6
                                },
                                maxBarThickness: 25,
                            }],
                            yAxes: [{
                                ticks: {
                                    min: 0,
                                    max: 4000,
                                    maxTicksLimit: 5,
                                    padding: 10,
                                    // Include a dollar sign in the ticks
                                    callback: function(value, index, values) {
                                        return '$' + number_format(value);
                                    }
                                },
                                gridLines: {
                                    color: "rgb(234, 236, 244)",
                                    zeroLineColor: "rgb(234, 236, 244)",
                                    drawBorder: false,
                                    borderDash: [2],
                                    zeroLineBorderDash: [2]
                                }
                            }],
                        },
                        legend: {
                            display: false
                        },
                        tooltips: {
                            titleMarginBottom: 10,
                            titleFontColor: '#6e707e',
                            titleFontSize: 14,
                            backgroundColor: "rgb(255,255,255)",
                            bodyFontColor: "#858796",
                            borderColor: '#dddfeb',
                            borderWidth: 1,
                            xPadding: 15,
                            yPadding: 15,
                            displayColors: false,
                            caretPadding: 10,
                            callbacks: {
                                label: function(tooltipItem, chart) {
                                    var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                                    return datasetLabel + ': $' + number_format(tooltipItem.yLabel);
                                }
                            }
                        },
                    }
                });
            }

        });


    </script>
}