@model IEnumerable<BugTracker.ViewModels.ManageRolesViewModel>
@{
    ViewBag.Title = "ManageRoles";
}

<style>
    .controlWide {
        width: 100%;
    }
    #UserIds {
        height: 180px;
    }
    .marginTop {
        margin-top: 5px;
    }
    .email {
        font-size: .7em;
    }
    tbody tr:hover { background-color: gainsboro; }
</style>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Manage Roles</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-7">
                <table class="table">
                    <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(m => m.FullName)</th>
                        <th>@Html.DisplayNameFor(m => m.Role)</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var item in Model.OrderBy(m => m.Email))
                    {
                        <tr>
                            <td title="@item.Email">
                                @Html.DisplayFor(modelItem => item.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="col-md-5">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-md-12">
                            @Html.ListBox("UserIds", null, new { @class = "controlWide", style = "max-height: 360px; min-height: 260px; width: 100%;" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 5px;">
                            @Html.DropDownList("Role", null, "-- Select Role --", new { @class = "controlWide" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 5px;">
                            <button id="btnSubmit" type="submit" class="btn btn-primary controlWide">Save</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-top: 5px; font-size:.7em">
                            * Changes will Only take effect for Role=Admin (Demo Admin cannot change roles)
                        </div>
                    </div>
                }
            </div>
        </div>
    </div> <!-- end card-body -->
</div>


@section scripts
{
    <script>

        $('#btnSubmit').prop("disabled", true);
        var initVal = $('#txtComment').val();

        $(document).ready(function () {
            $('#UserIds').change(function () {
                console.log("change");
                var selectedValues = $('#UserIds').val();
                console.log(selectedValues.length);
                if (selectedValues.length === 0) {
                    $('#btnSubmit').prop("disabled", true);
                }
                else {
                    $('#btnSubmit').prop("disabled", false);
                }
            });
        });
    </script>
}

