@model FinancialPortal.Web.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}

@{
    Layout = "";
}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>Ira's Bug Tracker - Login</title>

<!-- Custom fonts for this template-->
<link href="~/Content/all.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<!-- Custom styles for this template-->
<link href="~/Content/sb-admin-2.min.css" rel="stylesheet" />

<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-external-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Associate your @ViewBag.LoginProvider account.</h1>
                                </div>
                                @using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()

                                    <h4>Association Form</h4>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <p class="text-info">
                                        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>.
                                        Please enter a few more things for the Financial Portal and click the Register button to finish
                                        logging in.
                                    </p>
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            @Html.TextBoxFor(m => m.FirstName, new
                                            {
                                                @class = "form-control form-control-user",
                                                placeholder = "First Name",
                                                type = "text",
                                                id = "exampleFirstName"
                                            })
                                        </div>
                                        <div class="col-sm-6">
                                            @Html.TextBoxFor(m => m.LastName, new
                                            {
                                                @class = "form-control form-control-user",
                                                placeholder = "Last Name",
                                                type = "text",
                                                id = "exampleInputLastName"
                                            })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.DisplayName, new
                                        {
                                            @class = "form-control form-control-user",
                                            placeholder = "Display Name",
                                            type = "text",
                                            id = "exampleInputDisplayName"
                                        })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new
                                        {
                                            @class = "form-control form-control-user",
                                            placeholder = "Email Address",
                                            type = "email",
                                            id = "exampleInputEmail"
                                        })
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-user btn-block" value="Register" />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
